#aboutme {
  text-align: center;
}

.aboutme-section-desc {
  text-align: justify;
  margin-top: 40px;
}

.aboutme-icons {
  font-size: 25px;
  margin-top: 45px;
}

.aboutme-icon {
  margin: 10px;
  color: var(--titleSectionSecondaryColor);
}

.aboutme-icon:hover {
    cursor: pointer;
    color: var(--titleSectionTertiaryColor);
}