* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
     background-image: url(https://img.freepik.com/free-photo/abstract-flowing-neon-wave-background_53876-101942.jpg?semt=ais_hybrid&w=740&q=80);
     background-size: cover;
     background-repeat: no-repeat;
}

.main-section {
    width: 100vh;
    height: 100vh;
    border: solid white 1px;
    text-align: center;
}

h1, p {
    color: white;
}
