#craps-game {
    background-image: url("../images/Craps.jpg");
    background-position: top center;
    color: white;
}

.craps-game-title {
    text-align: center;
    margin-top: 50px
}

.craps-game-container {
    width: min(700px, 80vw);
    height: min(500px, 57vw);
    border: solid white 2px;
    margin: 100px auto 0 auto;
    background-image: url(../images/craps-table.jpg);
    background-size: cover;
    background-position: top center;
}

.craps-reg-pane {
    margin-top: 25px;
    text-align: center;
}

.craps-reg-input {
    background: none;
    border: none;
    border-bottom: solid white 1px;
    margin-top: 25px;
    color: white;
    text-align: center;
}

.craps-reg-input:focus {
    outline-width: 0;
}

.craps-reg-continue {
    margin-top: 25px;
}

.craps-reg-continue:hover {
    cursor: pointer;
    font-weight: bold;
}