#craps-game {
    background-image: url("../images/Craps.jpg");
    background-position: top center;
    color: white;
}

.craps-game-title {
    text-align: center;
    margin-top: 50px
}

.craps-game-container {
    width: min(700px, 80vw);
    height: min(500px, 57vw);
    border: solid white 2px;
    margin: 100px auto 0 auto;
    background-image: url(../images/craps-table.jpg);
    background-size: cover;
    background-position: top center;
}