:root {
  --titleSectionPrimaryColor: rgb(255, 255, 255);
  --titleSectionSecondaryColor: rgb(0, 42, 49);
}

button:hover {
  background-color: var(--titleSectionPrimaryColor);
  cursor: pointer;
}

#title {
  color: var(--titleSectionPrimaryColor);
  text-align: center;
  padding-top: 200px;
  background-image: url(../images/bg.png);
  background-position: center top;
}

.title-section-button {
  background-color: var(--titleSectionPrimaryColor);
  color: var(--titleSectionSecondaryColor);
  border: solid var(--titleSectionPrimaryColor) 1px;
  border-radius: 5px;
  padding: 15px 20px;
  background-color: transparent;
}
