h1, p {
    color: white;
}

button:hover {
    background-color: red;
    cursor: pointer;
    font-size: 20px;
}

#title {
    text-align: center;
    padding-top: 200px;
    background-image: url(../images/bg.png);
    background-position: center top;
}
